@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="header">
    @{
        ViewData["Title"] = "contact";
    }
    <h1>Thankyou your Response has been submitted successfully!</h1>
    <a href="@Url.Action("Index")" class="button">Back to home</a>
    <a href="@Url.Action("AboutMe", "Home")" class="button">About me</a>
</div>