@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="header">
    @{
        ViewData["Title"] = "contact";

    }
    <img src="~/images/image.png" alt="Expense Manager App" class="project-image_exp" />

    <h4>Expense Manager Application</h4>
    <div class="info-box">
        <h3>Objective: </h3>
        <p>Creating a Expense Manager application for students to budget their monthly expenses</p>
        <h3>Practices:</h3>
        <p>User Research, Wireframing, User Testing, Android Studio, Java, XMl, Prototyping</p>
        <h3>Tools:</h3>
        <p>Figma, Lucid Chart and Android Studio</p>
        <h3>Team:</h3>
        <p>Individual Task</p>
    </div>

    <h3> Problem ?</h3>
    <h6>How to set budget and achieve financial clarity especially being a student? </h6>
    <div class="info-box-problem">

        <p>
            Our primary goal is to offer a resource that enables individuals to visualize the impact of their spending habits on their financial
            health and equip them with tools to improve it. By monitoring expenditures, both minor and major, over an extended period, users can
            become more conscious of their financial patterns. The app provides budgeting tools, savings strategies, and connects users with financial advice.
            Through this detailed oversight and support, individuals can foster more responsible spending behaviors and enhance their economic well-being.
        </p>


    </div>


</div>