
<div class="header">


    <h1>Anhadpreet Singh</h1>
    <h2>Software Developer</h2>
    <p style="color: white">avr</p>
    <a href="@Url.Action("AboutMe", "Home")" class="about-button">About me</a>


    <div class="contact-section">


        <div class="social-buttons">
            <!-- LinkedIn Button -->
            <a href="https://www.linkedin.com/in/anhadpreet-singh" target="_blank" class="social-button linkedin">
                <img src="~/icons/icons8-linkedin.svg" alt="LinkedIn" />
                LinkedIn
            </a>

            <!-- GitHub Button -->
            <a href="https://github.com/Anhad928" target="_blank" class="social-button github">
                <img src="~/icons/icons8-github.svg" alt="GitHub" />
                GitHub
            </a>

            <!-- Resume Button -->
            <a href="~/docs/Anhadpreet Singh resume - 70346.pdf" target="_blank" class="social-button resume">
                <img src="~/icons/icons8-resume-50.png" alt="Resume" />
                Resume
            </a>

        </div>




    </div>
</div>

<div class="main_content">




    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="container">
        @* Other content *@






        <!-- Other details or buttons can go here -->

        <div class="project-container floating-background">
            <div class="project" data-aos="fade-up" data-aos-duration="1000">
                <div class="project-container">
                    <div class="project-image-container">
                        <!-- Project images here -->
                        <a href="@Url.Action("ExpenseManager", "Home")"class="about-button">
                        <img src="~/images/image.png" alt="Expense Manager App" class="project-image" />
                        </a>
                    </div>
                    <div class="project-description-container">
                        <!-- Project text here -->

                        <h2 class="project-title">Expense Manager</h2>
                        <p class="project-description">Android App Development</p>
                        <p class="project-subtitle">Android Studio and Figma</p>
                        <p class="project-text">
                            Using the Android Studio for making app functionality and UI inspired by the
                            sample mockups made on Figma.
                        </p>
                      
                    </div>



                </div>



            </div>


            @* Repeat for each project *@
        </div>



        <div class="project" data-aos="zoom-out-up" data-aos-duration="1000">



            <div class="project-container">
                <div class="project-image-container">
                    <!-- Project images here -->
                    <a href="@Url.Action("Library", "Home")"class="about-button">
                        <img src="~/images/image2.png" alt="Library DataBase Manager" class="project-image1" />
                     </a>
                </div>

                <div class="project-description-container">

                    <!-- Project text here -->


                    <h2 class="project-title">Library DataBase Manager</h2>
                    <p class="project-description">Manages Large Library Database.</p>
                    <p class="project-subtitle">Python</p>
                    <p class="project-text">
                        Using Python I wrote a code which takes data from a file about book name, Author,
                        Date Borrowed and Date Returned. My code reads all the data and presents into a new text
                        file in a properly formatted and human readible way.
                    </p>
                </div>
            </div>
        </div>


        <div class="project-container floating-background">
            <div class="project" data-aos="fade-up" data-aos-duration="1000">
                <div class="project-container">
                    <div class="project-image-container">
                        <!-- Project images here -->
                        <a href="@Url.Action("Robot", "Home")" class="about-button">
                            <img src="~/images/black line.png" alt="Black Line Follower Robot" class="project-image1" />
                        </a>
                    </div>
                    <div class="project-description-container">
                        <!-- Project text here -->

                        <h2 class="project-title">Black Line Follower Robot</h2>
                        <p class="project-description">A robot which follows the black line as a desired path</p>
                        <p class="project-subtitle">JavaScript and Hardware Embedded Systems</p>
                        <p class="project-text">
                            Using Arduino and JavaScript, in a team of 3 and an associate of IIT-Delhi, This robot
                            follows the Black Line as a path and autonomously follow the desired path powered by batteries and
                            scanning path through sensors.
                        </p>
                    </div>
                </div>
            </div>


            @* Repeat for each project *@
        </div>


    </div>





