@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="header">
    @{
        ViewData["Title"] = "contact";

    }
    <img src="~/images/image2.png" alt="Library database Management" class="project-image_exp" />

    <h4 style="color: #2d8aca">Library database Management</h4>
    <div class="info-box">
        <h3>Objective: </h3>
        <p>Creating a Library database for managing books according to author and book names.</p>
        <h3>Practices:</h3>
        <p>User Research, Python/p>
        <h3>Tools:</h3>
        <p>Python, VSCode, Git</p>
        <h3>Team:</h3>
        <p>Individual Task</p>
    </div>

    <h3> Problem ?</h3>
    <h6>How to manage a library database bsed on author's name, book names and number books borrowed or recieved back.</h6>
    <div class="info-box-problem">

        <p>
            Our main objective is to provide a system that allows users to comprehend the influence of their acquisitions and usage on the
            library's resources. By tracking both frequent and infrequent library transactions over time, patrons and management can gain a
            better understanding of borrowing trends and resource allocations. The system includes features for resource management, optimization
            of inventory, and offers insights into library operations. With these capabilities, users can promote efficient usage of library assets,
            supporting the institution's mission to serve the educational and research needs of its community more effectively.
        </p>


    </div>


</div>