@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="header">
    @{
        ViewData["Title"] = "contact";

    }
    <img src="~/images/black line.png" alt="Black Line Follower Robot" class="project-image_exp" />

    <h4 style="color: black">Black Line Followe Robot</h4>
    <div class="info-box">
        <h3>Objective: </h3>
        <p>Creating a autonomous black line follower robot with arduino</p>
        <h3>Practices:</h3>
        <p>User Research, Python</p>
            <h3>Tools:</h3>
        <p>Python, VSCode, Git</p>
        <h3>Team:</h3>
        <p>Team of 3 including 1 IIT-Delhi Associate</p>
    </div>

    <h3> Interst?</h3>
    <h6>Wanted to make an autonomous Robot which can inhance my skill under assistance from professionals</h6>
    <div class="info-box-problem">

        <p>
            Our primary aim is to develop an autonomous system that provides guidance and support for users embarking on robotics projects.
            By monitoring and analyzing project progress, resource use, and milestone achievements, both novices and experienced builders
            can better navigate the complexities of robot construction. The system will feature tools for project management, parts inventory
            optimization, and offer insights into best practices for design and assembly. These resources will empower users to construct
            their robots more efficiently, furthering our goal of fostering innovation and skill development in the field of robotics.
        </p>


    </div>


</div>